*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: inherit;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .4rem;
    grid-row-gap: .4rem;
    justify-content: center;
    grid-auto-flow: column-reverse;
    margin: 2rem;
    max-block-size: 3rem;
}

#displayWin {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: firebrick;
    border: .3rem solid grey;
    text-align: end;
    min-inline-size: 144px;
    min-block-size: 3rem;
}

#displayFont {
    background-color: lightseagreen;
}

#top {
    inline-size: 10px;
    block-size: 2px;
}

button {
    background-color: white;
    color: darkorange;
    font-weight: bold;
    font-size: 1.5rem;
    min-inline-size: 48px;
    max-inline-size: 75px;
    aspect-ratio: 1/1;
}

#equals {
    grid-column: 2/ 4;
    min-inline-size: 96px;
    max-inline-size: 148px;
    aspect-ratio: 2/1;
}